In [1]:
# Dependencies and Setup
!pip install matplotlib
!pip install pandas
!pip install numpy
!pip install requests
!pip install citipy
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import json
import time
from scipy.stats import linregress

In [1]:
#range of latitudes and longitudes
lat_range = (-90, 90)
lng_range = (-180, 180)

Requirement already satisfied: matplotlib in c:\users\wagne\anaconda3\lib\site-packages (3.3.2)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.3 in c:\users\wagne\anaconda3\lib\site-packages (from matplotlib) (2.4.7)
Requirement already satisfied: cycler>=0.10 in c:\users\wagne\anaconda3\lib\site-packages (from matplotlib) (0.10.0)
Requirement already satisfied: pillow>=6.2.0 in c:\users\wagne\anaconda3\lib\site-packages (from matplotlib) (8.0.1)
Requirement already satisfied: certifi>=2020.06.20 in c:\users\wagne\anaconda3\lib\site-packages (from matplotlib) (2020.6.20)
Requirement already satisfied: python-dateutil>=2.1 in c:\users\wagne\anaconda3\lib\site-packages (from matplotlib) (2.8.1)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\wagne\anaconda3\lib\site-packages (from matplotlib) (1.3.0)
Requirement already satisfied: numpy>=1.15 in c:\users\wagne\anaconda3\lib\site-packages (from matplotlib) (1.19.2)
Requirement already satisfied: six in c:\users\wagne\anaconda3\lib\site-packages (from cycler>=0.10->matplotlib) (1.15.0)
Requirement already satisfied: pandas in c:\users\wagne\anaconda3\lib\site-packages (1.1.3)
Requirement already satisfied: numpy>=1.15.4 in c:\users\wagne\anaconda3\lib\site-packages (from pandas) (1.19.2)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\wagne\anaconda3\lib\site-packages (from pandas) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in c:\users\wagne\anaconda3\lib\site-packages (from pandas) (2020.1)
Requirement already satisfied: six>=1.5 in c:\users\wagne\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)
Requirement already satisfied: numpy in c:\users\wagne\anaconda3\lib\site-packages (1.19.2)
Requirement already satisfied: requests in c:\users\wagne\anaconda3\lib\site-packages (2.24.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\wagne\anaconda3\lib\site-packages (from requests) (2020.6.20)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\users\wagne\anaconda3\lib\site-packages (from requests) (1.25.11)
Requirement already satisfied: idna<3,>=2.5 in c:\users\wagne\anaconda3\lib\site-packages (from requests) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in c:\users\wagne\anaconda3\lib\site-packages (from requests) (3.0.4)
Requirement already satisfied: citipy in c:\users\wagne\anaconda3\lib\site-packages (0.0.5)
Requirement already satisfied: kdtree>=0.12 in c:\users\wagne\anaconda3\lib\site-packages (from citipy) (0.16)

In [15]:
meteor_data_path = "meteorite-landings.csv"

meteor_data = pd.read_csv(meteor_data_path)

In [16]:
meteor_data.head()

,name,id,nametype,recclass,mass,fall,year,reclat,reclong,GeoLocation
0,Aachen,1,Valid,L5,21.0,Fell,1880.0,50.77500,6.08333,"(50.775000, 6.083330)"
1,Aarhus,2,Valid,H6,720.0,Fell,1951.0,56.18333,10.23333,"(56.183330, 10.233330)"
2,Abee,6,Valid,EH4,107000.0,Fell,1952.0,54.21667,-113.00000,"(54.216670, -113.000000)"
3,Acapulco,10,Valid,Acapulcoite,1914.0,Fell,1976.0,16.88333,-99.90000,"(16.883330, -99.900000)"
4,Achiras,370,Valid,L6,780.0,Fell,1902.0,-33.16667,-64.95000,"(-33.166670, -64.950000)"